# flask.cfg
 
import os
 
 
# grab the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))
TOP_LEVEL_DIR = os.path.abspath(os.curdir)
 
# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
DEBUG = True

#platform specific details
VERSION='1.2'

#Platform config
FIELD_MAP_DIR='./fieldmap/'

#Straight North API
PROPERTY='10578'
SNTOKEN='ad366b16220adf763e325881ec1c3320c4913189517f5d73c6196f166dba051a'
SNENDPOINT='https://api.gonorthreporting.com'

#platform auth token
TOKEN='S5Umpe7q0OXp9SE6mAg36Eu5Zmq27XF9XH0KA5p2'

#salesforce details
SALESFORCE_USERNAME=''
SALESFORCE_PASSWORD=''
SALESFORCE_SECURITY_TOKEN=''
SALESFORCE_SANDBOX=True

SOLOMO_SF_USERNAME='admin@solomo.io.solopart'
SOLOMO_SF_PASSWORD='salesforce1'
SOLOMO_SF_SECURITY_TOKEN='2W8FIpfVQRIJLj93JcbAdDft'
SOLOMO_SF_SANDBOX=True
SOLOMO_SF_CLIENT_ID='0011N00001KIscbQAD'
SOLOMO_OWNER_ID='0051N000005kre6QAA'
SOLOMO_SUPPORT_RTYPE='0121N000001TIk9QAG'


#########################################
#QBO CONFIGURATION
#########################################
DEBUG = False
SQLALCHEMY_ECHO = False

# Specify which OAuth your app uses; default is OAuth2
# Change this flag to 1 for OAUth1 apps
AUTH_TYPE = 'OAuth2'
# AUTH_TYPE = 'OAuth1'

# OAuth2
CLIENT_ID= 'Q0W38PHGMZmwUJ91Enhd5jBPe46DMXXSWGyV5duLJH9qYZV6zL'
CLIENT_SECRET = 'GAGyON7cfiyu12uLHLQWxeMKxpV8V50zS6GRyqV9'
REDIRECT_URI = 'http://localhost:8000/qbo/callback'

# Choose environment; default is sandbox
ENVIRONMENT = 'Sandbox'
# ENVIRONMENT = 'Production'

# Set to latest at the time of updating this app, can be be configured to any minor version
API_MINORVERSION = '23'