# flask.cfg
 
import os
 

 
# grab the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))
TOP_LEVEL_DIR = os.path.abspath(os.curdir)
 
# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
DEBUG = True

#platform specific details
VERSION='1.2'

#Platform config
FIELD_MAP_DIR='./fieldmap/'

#Straight North API
PROPERTY='10578'
SNTOKEN='ad366b16220adf763e325881ec1c3320c4913189517f5d73c6196f166dba051a'
SNENDPOINT='https://api.gonorthreporting.com'

#platform auth token
TOKEN='S5Umpe7q0OXp9SE6mAg36Eu5Zmq27XF9XH0KA5p2'

#salesforce details
SALESFORCE_USERNAME='solomo@yak.dev'
SALESFORCE_PASSWORD='salesforce1'
SALESFORCE_SECURITY_TOKEN=''
SALESFORCE_SANDBOX=True
